@model eProj.Models.shoe
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}


<h2>Add Shoes</h2>
 
     <form action="/admin/addShoesValidate" method="post" enctype="multipart/form-data">
 
     <div>@Html.LabelFor(b=> b.Item_Num,new { style="font-size:160%;"})</div>
      <div>@Html.TextBoxFor(b => b.Item_Num)</div>

      <div>@Html.LabelFor(b=> b.description,new { style="font-size:160%;"})</div>
      <div>@Html.TextBoxFor(b => b.description)</div>

      <div>@Html.LabelFor(b=> b.price,new { style="font-size:160%;"})</div>
      <div>@Html.TextBoxFor(b => b.price)</div>

     <div>@Html.LabelFor(b=> b.image,new { style="font-size:160%;"})</div>
    <input type="file" id="file" name="file" />
     
      
 
     <input type="submit" value ="add" />
     </form>
