@model List<eProj.Models.shoe>
@{
    ViewBag.Title = "DeleteShoes";
}
@{
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}


<h2>Delete/Update Shoes</h2>
    
 
    <table>
        <tr>
        <td>Id</td>
        <td>Item Number</td>
        <td> Image</td>
        <td>Description</td>
        <td>price</td>
            </tr>
        
        @foreach(var s in Model)
        {
         <tr>
        <td>@s.Id</td>
        <td>@s.Item_Num</td>
         <td>@s.image</td>
        <td>@s.description</td>
        <td>@s.price</td>
             <td>
                 <a href="~/admin/deleteShoe/@s.Id"> Delete</a>
                 <a href="~/admin/updateShoe/@s.Id"> Update</a>
             </td>
            </tr>
            
        }
    </table>
   
    
      
