@model eProj.Models.login
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>login</h2>
 <div>
     
      <form id="signin-form" method ="post" action="validateLogin">
		 @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)				
        <fieldset>

            <legend>Login Form</legend>

            <div class="editor-label">@Html.LabelFor(u=> u.user)</div>

            <div class="editor-field">@Html.TextBoxFor(u=> u.user)

              
                @Html.ValidationMessageFor(u=> u.user)
            </div>

            <div class="editor-label">@Html.LabelFor(u=> u.password_ )</div>

            <div  class="editor-field">@Html.PasswordFor(u=> u.password_)
                @Html.ValidationMessageFor(u=> u.password_)
              

            </div>
           <!-- <label>
										<input type="text" name="username" value="Username" onBlur="if(this.value=='') this.value='Username'" onFocus="if(this.value =='Username' ) this.value=''" />
                                    </label>
									<label>
									  <input type="password" name="password" value="Password" onBlur="if(this.value=='') this.value='Password'" onFocus="if(this.value =='Password' ) this.value=''" />
									</label>-->
         <input type="submit" class="button" value ="Sign In" />

        </fieldset>
          </form>
    </div>
    