@model eProj.Models.login
@{
    ViewBag.Title = "signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["User"] ?? string.Empty;
}

	
    <script>

        $(document).ready(function () {

            $('#checking').hide();

            $('#c1').click(function () {

                var userName = $('#userName').val();

                alert('User Name ='+ userName);
                $('#checking').show();
                $.getJSON("/home/CheckUserName?UserName=" + userName, function (data) {
                    $('#checking').hide();
                   
                    if (data) {
                        $('#result').text("Sorry! User already exists ");

                    }
                    else {
                        $('#result').text("User Name is available");
                    }
                });

            });

        });
    </script>
 <script type="text/javascript">
     var message = '@message';
     if (message)
         alert(message);
</script>
</head>
<body>
  <div>

      <form id="contact-form" method ="post" action="/Home/VSignup">
          		 @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <fieldset>

            <legend>Register Form</legend>

            <div id="checking">Checking..</div>
            <div class="editor-label">@Html.LabelFor(u => u.user)</div>

           <!-- <input type="text" id="user"  name="UserName"/>-->
            <div class="editor-field">@Html.TextBoxFor(u=> u.user,new { id="userName" })

              
                @Html.ValidationMessageFor(u=> u.user)
            </div>
            <input type="button" id="c1" value ="Check" />
            <div id="result"></div>
            
            <div class="editor-label">@Html.LabelFor(u => u.password_)</div>

            <div class="editor-field">@Html.PasswordFor(u => u.password_)

                @Html.ValidationMessageFor(u => u.password_)

            </div>

            

 

           
         <input type="submit" class="button" value ="Register" />

        </fieldset>
          </form>
    </div>
   