@model List<eProj.Models.shoppingCart>
@{
    ViewBag.Title = "CheckOut";
   
    Layout = "~/Views/Shared/_Layout_customer.cshtml";

}

    <body>
          <h3>Thank You for Shopping!  </h3>
        <br/><br/><br/>
         <div>            
      
         <table>
     

          <tr>

                            
        <td >Id <br/></td> 
        <td >Name <br/></td>        
        <td >Item Number<br/></td>
        <td >Description<br/></td>
        <td >Price<br/></td>
        </tr> 
         @foreach(var v in Model)
         {
                            
         <tr>
    
         <td > @v.Id <br/></td> 
         <td > @v.userName <br/></td>        
         <td > @v.Item_Num<br/></td>
         <td > @v.description<br/></td>
         <td > @v.price<br/></td>
         </tr>  
         }
                       
        <tr>
           <td > Total</td>
           <td > Rs.@ViewBag.x/= </td>      
                          
     <tr>
    

        </table>
        </div>
   

