@model List<eProj.Models.shoppingCart>
@{
    ViewBag.Title = "ViewCart";
}
@{
    Layout = "~/Views/Shared/_Layout_customer.cshtml";
}

        <section id="content">
			<div class="main">
                <div id="searchResult"></div> 
				<div id="il" class="indent-left">
					<h3>Shopping Cart</h3>
  <table>    
		 @foreach (var q in Model)
          {
            
        <tr>
           <td>Product Id: @q.Id</td>
        </tr>
        
        <tr>
           <td>Product Number: @q.Item_Num</td>
        </tr>
        <tr>
           <td>Customer: @q.userName </td>
        </tr> 
         <tr>
           <td>Price: @q.price</td>
        </tr>  
              
        <tr>
           <td>Image: @q.image</td>
        </tr>
       <tr>
          <td>--------------------------------</td> 
       </tr>


    }
         <tr>
       <td><a class="button" href="/Customer/CheckOut">Check Out</a></td>
        </tr>  
</table>
                    </div>
                </div>
		</section>
  